body {
    background: linear-gradient(to right, #dfe6e9, #f5f6fa);
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}



#container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 20px;
    margin-bottom: 100px;

    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.767);
}

#container_header #div_gradiente {
    background-image: linear-gradient(to , #000000, aliceblue);
}

#container_header img{
    height: 80px;
    width: 70px;
    padding-left: 20px;
}

#container_header #header {
    display: flex;
    padding: 5px;
    gap: 10px;
}
.titulo {
    display: flex;
    text-align: center;
    
}

#navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
}

#navbar #link {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

#container_conversaoPai {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

#container_conversao {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width:30%;
    margin: 0;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 25px rgba(0,0,0,0.25);

}

#container_ascii {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width:30%;
    margin: 0;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 25px rgba(0,0,0,0.25);
}

#container_ascii h1 {
    margin-bottom: 80px;
}

#container_ascii button {
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    transition: 0.3s;
    text-align: center;
    width: 300px;
    height: 20px;
    font-size: 20px;
}

input:focus {
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
    background-color: #fff;
}

#botao {
    padding: 12px 25px;
    background-color: #e20a0a;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

#div_output {
    font-size: 25px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
    background: linear-gradient(to right, #dfe6e9, #f5f6fa);
}

.footer {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}
.footer .container_footer {
    color: white;
}

#navbar_footer {
    display: flex;
    flex-direction: row; 
    gap: 20px;
    align-items: center;
}

#extra {
    color: white;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
}

#div_extras {
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin-top: 20px;

}

.tenor-gif-embed {
    max-width: 400px; 
    width: 100%;
    margin-bottom: 50px;
}